{% extends 'base_admin.html.twig' %}
{% block title %}Liste des conseillers
{% endblock %}

{% block body %}
	<div class="page-wrapper">
		<div class="page-breadcrumb">
			<h1 class="text-center">
				Liste des conseillers
			</h1>
		</div>

		<div class="container-fluid">
			<div class="text-end mb-3">
				<a href="{{ path('app_bank_service_new') }}" class="btn btn-primary">
					Ajouter un Conseiller</a>
			</div>

			<table class="table table-light">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom et prénom</th>
						<th>Email</th>
						<th>Téléphone</th>
						<th>Adresse</th>
						<!--	<th>Role</th>-->
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						{% if 'ROLE_CONSEILLER' in user.roles	 %}

							<tr>
								<td class="">{{ user.id }}</td>
								<td class="">{{ user.nom }} {{ user.prenom }}</td>
								<td class="">{{ user.email }}</td>
								<td class="">{{ user.telephone }}</td>
								<td class="">{{ user.adresse }}</td>
								<td>{{ user.roles ? user.roles|json_encode : '' }}</td>


								<td class="">
									<a href="{{ path('app_Conseiller_show', {'id': user.id}) }}" class="btn btn-secondary">Détails</a>
									<a href="{{ path('app_Conseiller_edit', {'id': user.id}) }}" class="btn btn-secondary">Modifier</a>
									<a href="{{ path('app_Conseiller_delete', {'id': user.id} )}}" class="btn btn-danger">Supprimer</a>
								</td>
							</tr>
						{% endif %}


					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
