{% extends 'base_admin.html.twig' %}
{% block body %}
<div class="container-fluid">
 <div class="row">
<div class="card col-9">
{{ form_start(form)}}

                <button type="submit">Enregister</button>
                {{ form_end(form)}}
              
              
{% endblock %}
{# {% block title %}Edit Config{% endblock %}

{% block body %}
    <h1>Edit Config</h1>

    {{ include('config/_form.html.twig', {'button_label': 'Update'}) }} 

    <a href="{{ path('app_config_index') }}">back to list</a>

    {{ include('config/_delete_form.html.twig') }} 
{% endblock %}  #}
